.contributions-graph {
  display: grid;
  grid-gap: 5px;
  padding: 10px;
  grid-template-columns: repeat(53, 20px);
  grid-auto-flow: column;
  width: calc(25*53px);
  grid-template-rows: repeat(7, 20px);
  background-color: transparent;
}

.contribution {
  text-align: center;
  background-color:red;
  box-shadow: 1px 1px 1px 1px;
}
